:root {
  --primary-text-color: #434455;
  --logo-text-color: #4d5ae5;
  --secondary-text-color: #2e2f42;
  --accent-text-color: #404bbf;
  --section-bg: #2e2f42;
  --light-text-color: #fff;
  --secondary-bg: #f4f4fd;
  --team-item-bg: #fff;
  --logo-footer-part: #f4f4fd;
  --footer-text-color: #f4f4fd;
  --portfolio-btn-bg: #f4f4fd;
  --portfolio-btn-text: #4d5ae5;
  --LIGHT-SLATE: #8e8f99;
}

body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: var(--primary-text-color);
}

.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
/* header */
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-list {
  display: flex;
  gap: 40px;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-logo {
  color: var(--logo-text-color);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
  display: inline-block;
  padding: 24px 0;
}

.heder-logo-black {
  color: var(--secondary-text-color);
  /* margin-right: 76px; */
}
.header-link {
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-text-color);
}
.header-link.active {
  color: #404bbf;
}
.header-link.active::after {
  content: "";
  display: block;
  position: absolute;

  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  background-color: #404bbf;
  margin-top: 20px;
}
.address-list {
  display: flex;
  gap: 40px;
}
.address {
  font-style: normal;
}

.address-link {
  color: var(--primary-text-color);
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover,
.address-link:focus {
  color: var(--accent-text-color);
}
/* hero */
/* .main {
  width: 1440px;
  margin: 0 auto;
} */
.hero {
  background: var(--section-bg);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
  padding: 188px 0;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  color: var(--light-text-color);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.button {
}
.hero-btn {
  color: var(--light-text-color);
  background-color: var(--logo-text-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--accent-text-color);
}

.advantages {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.advantages-list {
  display: flex;
  /* align-items: center; */

  gap: 24px;
}
.advantages-item {
  width: calc((100% - 3 * 24px) / 4);
}
.advantages-icon {
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8e8f99);
  background: var(--CLOUD, #f4f4fd);
  margin-bottom: 8px;
}
.advantages-icon-icon {
}

.advantages-hero {
  color: var(--secondary-text-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.advantages-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* doing */
.doing {
}
.doing-hero {
  color: var(--secondary-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.doing-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.doing-item {
  width: calc((100% - 48px) / 3);
}
/* team */
.team {
  background: var(--secondary-bg);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  color: var(--secondary-text-color);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;

  margin-bottom: 72px;
}
.team-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.team-item {
  background-color: var(--team-item-bg);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.team-name-text {
  text-align: center;
  padding: 32px 0 32px;
}

.team-name {
  margin-bottom: 8px;
  color: #2e2f42;
  text-align: center;
  font-size: 20px;

  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.002em;
}
.team-text {
  margin-bottom: 8px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}
.team-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.team-icon-item {
  width: 40px;
  height: 40px;
}
.team-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  fill: var(--logo-footer-part);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-link:hover {
  background-color: #404bbf;
}
.team-link:focus {
  background-color: #404bbf;
}
.team-img-icons {
  fill: var(--logo-footer-part);
}
/*---- FOOTER---- */
a {
  text-decoration: none;
}
.footer {
  background: var(--section-bg);
  /* display: block; */
  padding: 100px 0;
}
/* .footer-container {
  display: flex;
} */
.footer-wrapper {
  display: flex;
  align-items: baseline;
}
.footer-logo-box {
  margin-right: 120px;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
  width: 115px;
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-logo-part {
  color: #f4f4fd;
}
.footer-text {
  width: 264px;
  color: #f4f4fd;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.footer-social {
  margin-right: auto;
}
.footer-social-text {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
ul[class],
ol[class] {
  list-style: none;
}
.footer-icon {
  display: flex;
  gap: 16px;
}
.footer-social-item {
  width: 40px;
  height: 40px;
  /* color: #f4f4fd; */
}
li {
  list-style-type: none;
}
.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover {
  background-color: #31d0aa;
}
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-subscribe-box {
  display: flex;
  flex-direction: column;
}
.footer-subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-form {
  display: flex;
  align-items: center;
  gap: 24px;
}
.footer-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  border-radius: 4px;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-input ::placeholder {
  color: currentColor;
}
.subscribe-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  min-width: 165px;
  height: 40px;

  padding: 8px 24px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.subscribe-form-icon {
  margin-left: 16px;
  fill: #ffffff;
}
.footer-social-icon {
  fill: #f4f4fd;
}

/*-------Portfolio------*/
.portfolio {
}
.portfolio-title {
  color: var(--secondary-text-color);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  padding-top: 120px;
  margin-bottom: 72px;
}

.portfolio-cards-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  padding-bottom: 120px;
}
.cards-item {
  border-top: none;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-img {
  border: 1px solid #f4f4fd;
  background: #fff;

  width: 360px;
  height: 300px;
  overflow: hidden;
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-item :hover .overlay {
  transform: translateY(0);
}

.service-list {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn-link {
  color: var(--logo-text-color);
  text-align: center;

  font-family: Roboto, sans-serif;
  font-size: 16px;

  font-weight: 500;
  line-height: calc(24 / 16);
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: var(--portfolio-btn-bg);
  padding: 12px 24px 12px 24px;
  border: 1px solid var(--cornflower, #e7e9fc);
  border-radius: 4px;
}

.btn-link:hover,
.btn-link:focus {
  color: var(--light-text-color);
  background-color: var(--accent-text-color);
  border: 1px solid transparent;
}
.cards-subtitle {
  color: var(--secondary-text-color);
  font-size: 20px;
  font-weight: 500;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.cards-text {
  color: var(--primary-text-color);
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
}

.text-subtitle {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* --------backdrop--------- */
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.modal {
  /* position: relative; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 408px;
  min-height: 584px;
  flex-shrink: 0;

  border-radius: 4px;
  background-color: #fcfcfc;
  padding: 24px;
  padding-top: 72px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  color: #2e2f42;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0;

  background-color: #e7e9fc;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
  color: #fff;
  background-color: #404bbf;
  border: none;
}
.modal-close-btn:focus {
  color: #fff;
  background-color: #404bbf;
  border: none;
}

.btn-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-caption {
  color: #2e2f42;
  text-align: center;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 16px;
  letter-spacing: 0.02em;
  /* margin-bottom: 34px; */
}

.form-wrapper {
  margin-bottom: 8px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment {
  margin-bottom: 16px;
}
.form-label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.form-field {
  position: relative;
  margin-bottom: 8px;
}
.form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);

  background-color: transparent;
  box-shadow: none;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-radius: 4px;
  border: 1px solid #4d5ae5;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: transparent;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus + .form-icon {
  fill: #4d5ae5;
}

.form-message {
  resize: none;
  width: 360px;
  height: 120px;
  padding: 8px 16px;
  color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));

  font-size: 12px;

  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;

  border-radius: 4px;
  border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.4));
  background-color: transparent;
  outline: transparent;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-message::placeholder {
  color: currentColor;
}
.form-message:focus {
  border-color: #4d5ae5;
}

/* checkbox */
.form-agreement-box {
  margin-bottom: 24px;
}
.form-agreement {
  display: block;
  color: #8e8f99;

  font-size: 12px;

  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;

  /* margin-bottom: 4px; */
  user-select: none;
}

.form-agreement-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;

  height: 16px;
  /* stroke-width: 1px; */
  /* stroke: rgba(46, 47, 66, 0.4); */
  /* transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); */
  /* background-color: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); */

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 12px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.checkbox:checked + .form-label > .form-agreement-checkbox {
  background-color: var(--accent-text-color);
  fill: var(--footer-text-color);
  border-color: transparent;
  border: none;
}

.form-agreement-icon {
  /* opacity: 0; */
  /* transform: scale(0.3); */
  /* transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}
/* 
.checkbox:checked + .form-agreement-checkbox > .form-agreement-icon {
  opacity: 1;
} */
.checkbox:checked + .form-agreement-checkbox > .form-agreement-icon {
  opacity: 1;
  transform: scale(1);
  border: none;
}

.form-agreement-icon {
  /* opacity: 0; */
  /* color: #f4f4fd; */
}
.form-agreement-link {
  color: #4d5ae5;
  text-decoration-line: underline;
}

.form-btn {
  /* display: inline-flex; */
  border: none;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  align-items: flex-start;
  min-width: 169px;
  min-height: 56px;

  color: #fff;
  text-align: center;

  font-size: 16px;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;

  gap: 10px;
  border-radius: 4px;
  background-color: #4d5ae5;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-btn:hover.form-btn:focus {
  color: #ffffff;
  background-color: #4d5ae5;
}
